<h1>Reminders</h1>
<p>Mark a task list to get notifications:</p>
<table class="table">
  <thead>
  <tr>
    <th class="col-sm-1">Reminder</th>
    <th class="col-sm-10">Task list</th>
    <th class="col-sm-1">Tasks</th>
  </tr>
  </thead>
  <tbody>
  <% @task_lists.each do |task_lists| %>
    <tr>
      <td><input type="checkbox"></td>
      <td><%= task_lists.name %></td>
      <td><%= task_lists.tasks_count %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @reminders.each do |reminder| %>
      <tr>
        <td><%= link_to 'Show', reminder %></td>
        <td><%= link_to 'Edit', edit_reminder_path(reminder) %></td>
        <td><%= link_to 'Destroy', reminder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
