<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : 'REMbooth' %></title>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <%= render 'layouts/navigation' %>
</header>
<main role="main">
  <% if content_for? :intro %>
    <div class="container-fluid header-fluid">
      <%= yield :intro %>
    </div>
  <% end %>

  <%= render 'shared/link_twitter_account' if ask_for_link_twitter_account? %>
  <%= render 'layouts/messages' %>

  <div class="container">
    <%= yield %>
  </div>
</main>
</body>
</html>